.main-right-content{
    display: flex;
    flex-wrap: wrap;
    // background-color:green;
    .middle-content{
        flex: 6;
        margin: 10px;
        width: 60vw; 
        margin-left: 0px;
        margin-right: 280px;


    }
    .right{
        flex: 1;
      
    }
}