.main {
    margin-top: 88px;
    margin-left: 18vw;
    display: flex;
    gap: 24px;
    width: 100vw;
    overflow-x: hidden;
    // overflow-y: scroll;
  
    .sidebar {
      position: fixed;
      left: 0;
  
      
    }
  
    .main-content {
      // width: 80vw;
      // flex: 1; 
      // overflow-y: auto; 
      // padding: 20px; 
  
      a {
        text-decoration: none;
        // color: inherit;
        border: 2px solid blue;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .main {
        flex-direction: column; 
    }
  
    .main .sidebar,
    .main .rightbar {
        display: none; 
    }
  
    .main .main-content {
        width: 100%; 
        padding: 10px; 
    }
  }
  