.main {
    margin-top: 88px;
    display: flex;
    gap: 24px;
    width: 100vw;
    overflow-x: hidden;
    // overflow-y: scroll;
  
    .sidebar {
      position: fixed;
      left: 0;
  
      
    }
  
    .main-content {
      // width: 80vw;
      // flex: 1; 
      // overflow-y: auto; 
      // padding: 20px; 
  
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  