.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 88px;
    flex-shrink: 0;
    border-bottom: 1px solid #F1F5F9;
    width: 100vw;
    padding: 0 20px;
    background-color: white;
}

.navbar .nav-logo {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
   
}

.navbar .right-nav {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 6;
    flex-shrink: 0;
}

.navbar .right-nav .nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar .right-nav .nav-icons .profile {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        border-radius: 10%;
    }
}
@media screen and (max-width: 786px) {
    .navbar {
        padding: 0 5px;
        margin-left: 8vh;
    }

    .nav-input {
        display: none; 
    }

    .navbar .nav-logo {
        justify-content: center; 
        margin-left: 50px;
    }

    .navbar .nav-logo h1 {
        font-size: 20px; 
    }
    
    /* Add the following to hide profile and nav-icons */
    .navbar .right-nav .nav-icons {
        display: none;
    }

    .navbar .right-nav .profile {
        display: none;
    }
}