@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.all{
    width: 100px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }

    .social-media{
      
        width: 100vw;
    }
}