.body {
  margin: 0;
  // font-family: 'Arial', sans-serif;
  display: flex;
  height: 100%;
 
}

.app {
  display: flex;
  width: 100%;
}

.content {
  flex: 1;
  // overflow: auto;
}

.sidebar {
  height:100%;

  padding: 20px;
  margin-left: 10px;
 
}

.navbar {
 
  padding: 20px;
 
}

.body {
  padding: 20px;
  
}

