body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  width: 100%;
}

.content {
  flex: 1;
  overflow: auto;
}

.sidebar {
  height:100%;
  background-color: #e0cbcb;
  color: #fff;
  padding: 20px;
  margin-left: 10px;
  height: 100%;
}

.navbar {
  background-color: #97a1a8;
  color: #fff;
  padding: 20px;
  width: 1100px;
}

.body {
  padding: 20px;
  background-color: rebeccapurple;
}

