.events {
    margin-left: 5vh;
  }
  
  .topic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .topnavigate {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 20px;
  }
  
  .calender1 {
    justify-content: space-between;
  }
  
  .poetry {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 20px;
  }
  
  .eventimgs {
    display: flex;
    flex-direction: column;
  }
  
  .national {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .members {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .mapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .continside {
    button {
      width: 300px;
      background-color: aliceblue;
    }
  }
  .eventspage{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 20px;
  }
  
  .eventimgs {
    display: flex;
    flex-direction: column;
  }
  
  .national {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .members {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .mapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .continside {
    button {
      width: 50px;
      background-color: aliceblue;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .events {
      margin-left: 0;
    }
  
    .topnavigate {
      flex-direction: row;
    //   align-items: center;
    //   justify-content: space-around;
    }
  
    .poetry {
      flex-direction: column;
    }
  
    .eventimgs {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .mapp {
      flex-direction: column;
      align-items: center;
    }
  
    .continside button {
      width: 100%;
    }
  }
  