.bigmain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 600px;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 1000;
    background-color:white;
}

.noti {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allnote {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.people {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.friend {
  text-align: center;
}

.yesterday {
  margin-top: 1rem;
}
