.Timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-right: 60px;
  h3 {
    font-size: 24px;
    margin-bottom: 30px;
    // margin-right: 600px;
    margin-top: 30px;
  }

  .FriendsMenu {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    .FriendsContainer {
      margin: 5px;

      .ContactItem {
        text-align: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-bottom: 5px;
        }

        p {
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }

  .content-right {
    width: 100%;
    max-width: 800px; 
    margin-top: 20px;

    .top-section {
      display: flex;
      align-items: center;

      .profile {
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .user-input {
        flex: 1;

        input {
          width: 80%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }

    .bottom-section {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      flex-direction: row;

      .img {
        text-align: center;

        img {
          width: 30px;
          height: 30px;
        }

        p {
          margin: 5px 0 0;
          font-size: 12px;
        }
      }
    }

    .post-info {
      margin-top: 20px;

      .user {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .info {
          p {
            margin: 0;
            font-size: 14px;
          }
        }
      }

      .post-text {
        margin-top: 10px;
        font-size: 16px;
      }

      .post-images {
        display: flex;
        flex-direction: raw;
        // flex-wrap: wrap;
        margin-top: 10px;

        img {
          width: 50%;
          // height: 50%;
          // object-fit: cover;
          margin-right: 10px;
          border-radius: 8px;
        }
      }

      .post-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .likes,
        .comments,
        .shares {
          display: flex;
          align-items: center;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }

          p {
            margin: 0;
            font-size: 14px;

            span {
              font-weight: bold;
            }
          }
        }
      }

      .message-input {
        margin-top: 10px;
        display: flex;
        align-items: center;

        input {
          flex: 1;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .icons {
          display: flex;
          margin-left: 10px;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  .Timeline {
    margin-right: 0; 
  }

  .Timeline h3 {
    margin-right: 0;
  }

  .content-right {
    padding: 0 16px; 
  }
 
  .FriendsMenu .FriendsContainer {
    margin: 5px 0;
  }

  .FriendsMenu .FriendsContainer .ContactItem {
    text-align: center; 
  }

  .content-right .top-section .profile img {
    width: 80px; 
    height: 80px;
  }

  .content-right .post-info .user img {
    width: 30px; 
    height: 30px;
  }

  .content-right .post-info .post-text {
    font-size: 14px; 
  }

  .content-right .post-info .post-images img {
    width: 80px; 
    height: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
}
