.bottom {
    display: flex;
    flex-direction: column;
  
    .top {
      display: flex;
      flex-direction: row;
      background-color: white;
      padding: 2rem 1rem;
    }
  
    .info {
      flex: 0.2;
      display: flex;
      align-items: center;
      text-align: center;
      margin-left: 45px;
      
    }
  
    .stats {
      display: flex;
      justify-content: space-between;
      flex: 0.8;
      background-color: #F8FAFC;
      padding: 1rem;
  
      .post {
        border-right: 2px solid rgb(202, 200, 200);
        padding: 0 10px;
        
        .header {
          font-size: 10px;
          color: rgb(165, 165, 165);
          
        }
      }
    }
}
@media screen and (min-width: 768px) {
  .bottom .top {
      flex-direction: row; 
      margin-left: 10px;
  }

  .bottom .info {
      margin-left: 0px;
  }

  .bottom .stats {
      flex-direction: row; 
  }

  .bottom .stats .post {
      border-bottom: none; 
      border-right: 2px solid rgb(202, 200, 200); 
      padding: 0 10px; 
  }

  .bottom .stats .post:last-child {
      border-right: none; 
  }
}