.Contacts {
  display: flex;
  flex-direction: column;

  .Heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    p {
    
      font-size: 12px;
      font-weight: 700;
    }
  }

  .ContactsMenu {
    height: 20vh;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .see-all {
    p{
      background-color: aqua;
    }
  }

  .ContactContainer {
    .ContactItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      // color: #0f172a;
      overflow-y: scroll;

      p {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
