
.content-right {
  width: 100%;
  height: 200px;
  
}

.top-section {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background-color:aliceblue;

}

.profile img {
  width: 60px;
  height: 60px;
 
}

.user-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  // background-color: aliceblue;
  flex-direction: row;
 
}

.img {

  
}

.img img {
 
  width: 30px;
  height: 30px;
}

.img p {
 display: flex;
  margin-top: 5px;
  align-items: center;
}
.post-text{
  background-color: aliceblue;
}

.post-info {
  display: flex;
  flex-direction: column;
 
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:aliceblue;
  margin: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  
}

.info h4 {
  margin: 0;
  font-size: 16px;

}

.info p {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #888;
}

.post-text p {
 
  margin: 10px;
  font-size: 14px;


}

.post-images {
 
  display: flex;
  gap: 10px;
}
.post-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.post-images img {
  
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.likes,
.comments,
.shares {
 
  display: flex;
  align-items: center;
}

.likes img,
.comments img,
.shares img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: flex;
}

.likes p,
.comments p,
.shares p {
  margin: 0;
  font-size: 12px;
}

.likes p span,
.comments p span,
.shares p span {
  font-weight: bold;
}

.message-input {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.message-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.icons {
  
  display: flex;
  gap: 10px;
}

.icons img {
  width: 20px;
  height: 20px;
}


@media (max-width: 768px) {
  .content-right {
    height: auto; 
    margin: 0px;
  }

  .top-section {
    margin-top: 20px; 
  }

  .profile img {
    width: 40px; 
    height: 40px; 
  }

  .user-input input {
    padding: 8px; 
  }

  .bottom-section {
    flex-direction: raw; 
    margin: 10px; 
  }

  .img img {
    width: 40px; 
    height: 40px;
  }

  .post-images {
    width:80px ;
    display: flex;
    flex-direction: column;
  }
  .post-images img{
    width: 100px;
  }

  .post-actions {
    margin: 10px;
  }

  .icons img {
    width: 16px; 
    height: 16px; 
  }
}
