.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;

  text-transform: capitalize;
  font-size: 12px;

  .menu-heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;

    h3{
          
      text-transform: uppercase;
    }
  }

  .menu-list {
    height: 36vh;
    overflow: scroll;
    scroll-behavior: smooth;
  }

  .menu-item {
    display: flex;
    gap: 8px;
    margin: 20px;
    font-size:  bold;
   
  }
}
