
.Top{
    width: 100%;
    margin-right: 20px;
    .BackGround{
        width: 100%;

        .bigimage{
            width: 100%;
            .top-img{
                max-width: 100%;
                margin-left: 20px;
                
                
                
            }
            .avatar{
                margin-top: -30px;
                width: 10%;
                margin-left: 50px;
            }
        }
    }
   
}


